*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: hsl(228, 56%, 18%);
    color: hsl(0, 0%, 100%);
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }


.container{
   width: 80%;
   margin: 0 auto;
   text-align: center;
   padding: 5rem 0;
}

h1{
    padding: .5rem 0;
    margin-bottom: 1rem;
}

.rock,
.paper,
.scissors
{
    border: none;
    background-color: hsl(228, 56%, 18%);
    border: 1px solid hsl(0, 0%, 100%);
    padding: 1.5rem;
    border-radius: 50%;
    margin: 0 1rem;

}

.btns{
    margin-bottom: 1rem;
}

img{
    background-color: #141E46;
    width: 70px;

}

.reset-btn, .auto-play-btn{
    cursor: pointer;
    border: none;
    padding: .6rem 1rem;
    margin: 1rem 1.5rem;
}

